@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  min-height: 100vh;
  background-color: #4f0975;
}

.main {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  padding: 40px;
}

.profile-container {
  width: 300px;
  background-color: #af19e5;
}

.pic-container {
  width: 300px;
  height: 355px;
  overflow: hidden;
}

.pic-container img {
  width: 300px;
}

.contact-container {
  box-sizing: border-box;
  height: 338px;
  width: 300px;
  margin-top: -50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: #af19e5;
  font-family: "Lato", sans-serif;
}

.title {
  color: white;
}

h1 {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.title-major {
  margin: 0;
  margin-top: 8px;
  font-size: 20px;
  font-style: italic;
}

.contacts {
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  display: flex;
}

.contact img {
  margin-right: 7px;
}

.contact a {
  font-size: 20px;
  opacity: 0.8;
  transition: 0.2s;
}

.contact a:hover {
  opacity: 1
}

.details-container {
  width: 100%;
}

.about {
  width: 85%;
}

.about p {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #fff;
}

.section-wrapper {
  padding: 48px 28px;
  border: 1px solid white;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  font-family: "Lato", sans-serif;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #fff;
}

.experience {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.experience::after,
.skills::after,
.projects::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}

.experience-wrapper {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.skills-wrapper a {
  align-self: center;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.skills p {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #fff;
}

.education {
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
}

.education-wrapper {
  width: 85%;
  min-height: 180px;
}

.section-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.education .section-item {
  height: 70px;
}

.section-item h3,
.section-item p {
  margin: 0;
}

.description,
.position,
.major,
.years {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #fff;
}

.years {
  color: #d3d3d3;
  font-style: italic;
}

.projects {
  position: relative;
}

.stack,
.position {
  font-weight: 700;
}

.projects {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.projects-wrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  row-gap: 15px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.project {
  width: 290px;
  height: 190px;
  background-size: cover;
  opacity: 0.8;
  transition: 0.5s;
}

.project:hover {
  cursor: pointer;
  opacity: 1;
}

.links {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.onlyLink {
  justify-content: center;
}

.piano {
  background: url(./assets/piano.png) center no-repeat;
  background-size: cover;
}

.bookstore {
  background: url(./assets/bookstore.png) center no-repeat;
  background-size: cover;
}

.meritum {
  background: url(./assets/meritum.png) center no-repeat;
  background-size: cover;
}

.project-info {
  height: 100%;
  box-sizing: border-box;
  background-color: #af19e5;
  padding: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
  opacity: 0;
}

.project-info h3,
.project-info p {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.link {
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.project-info h3 {
  font-size: 20px;
}

.technologies {
  font-style: italic;
}

.certificate {
  opacity: 0.8;
}

.certificate:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .section-wrapper {
    padding: 20px;
  }

  section {
    flex-direction: column;
  }

  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  .skills-wrapper,
  .experience-wrapper,
  .education-wrapper,
  .about {
    width: 100%;
  }

  .about {
    text-align: justify;
  }

  .skills h2 {
    margin-top: 20px;
  }

  .projects h2 {
    margin-bottom: 20px;
  }

  .projects-wrapper {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .skills-wrapper {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 850px) {
  .main {
    flex-direction: column;
  }

  .profile-container {
    height: 650px;
    margin: 0 auto;
    background-color: transparent;
  }

  .skills p {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .contact-container {
    padding: 15px;
  }

  .main {
    padding: 10px;
  }

  .education-wrapper {
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile-container {
    height: 610px;
  }

  .contact-container {
    height: 300px;
  }
}

@media (min-width: 500px) and (max-width: 850px) {

  .profile-container {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-container {
    height: 331px;
    position: static;
    margin-top: 0;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 0;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .avatar {
    margin-left: -75px;
  }
}

@media (max-width: 360px) {
  .contact a {
    font-size: 16px;
  }
}